html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  font-family: 'Helvetica neue';
  overflow: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  z-index: -1;
}

h1 {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 66px;
  display: none;
}

a {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.peach, .blue {
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
}

.peach {
  background-image: url(/images/logo.jpg);
  width: 100%;
  background-color: rgba(255, 182, 137, 1);
}

.blue {
  background-image: url(/images/sneaker.jpg);
  width: 100%;
  background-color: rgba(0, 56, 255, 1);
}

div:hover h1 {
  display: block;
}

div:hover .peach {
  background-blend-mode: normal;
  background-image: none;
}

div:hover .blue {
  background-blend-mode: normal;
  background-image: none;
}
